a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size:32px ;
  color: azure;
  font-weight: 800;
}

.navbar a{
  position: relative;
  font-size: 18px;
  color: #fff;
  margin-left: 40px;
  font-weight: 500;
}

.navbar a::before{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #fff;
  top: 100%;
  left: 0;
  transition: .3s;
}

.navbar a:hover::before{
  width: 100%;
}