.profile-info {
  margin: 80px auto;
}

.card {
  width: 800px;
  background: transparent;
  border-radius: 2px solid grey;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  backdrop-filter: blur(30px);
  margin: 250px auto;
  color: azure;
}

.btn-signout {
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #fff;
  color: azure;
  border-radius: 5px;
  margin: 10px 20px;
  height: 38px;
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-wallet-info {
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #fff;
  color: azure;
  border-radius: 5px;
  margin: 10px 20px;
  height: 40px;
  width: 100px;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-signout {
  padding: 0 10px;
}